/* .slider .slides {
    background-color: transparent;
    margin: 0;
    height: 400px;
}

.slider .slides li img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size:100% auto;
    background-repeat: no-repeat;
} */

#porwhatsapp{
    margin-top: 70px;
}

.teofrecemos, .promos{
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em;
    color: red;
}

.teofrecemos{
    font-size: 1.8em;
}

.promos{
    font-size: 2.2em;
}
.papascheddar{
    font-family: 'Dancing Script', cursive;
    font-size: 1.9em;
    color: red;
}

#menuquecomemos, #ubicacion, #contactanos{
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    font-size: 2.5em;
}

#contactanos, #ubicacion{
    font-size: 3em;
}

#contactanos{
    padding: 15px 0 15px 0;
}

#ubicacion{
    padding-top: 20px;
}