/* .slider .slides {
    background-color: transparent;
    margin: 0;
    height: 400px;
}

.slider .slides li img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size:100% auto;
    background-repeat: no-repeat;
} */
#logo{
    margin: 6px 0 0 60px;
}
#whatsfix{
    width: 50px;
    height: 50px;
}
#textmenulateral{
    font-size: x-large;
    font-family: 'Indie Flower', cursive;
}

#bienvenida, #disfruta, #esperamos{
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
}
#textbienvenidosa{
    font-size: 2.7em;
}
#quecomemosbienvenida{
    font-size: 5em;
}
#disfruta, #esperamos{
    font-size: 3em;
}

#porwhatsapp{
    margin-top: 70px;
}

.teofrecemos, .promos{
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em;
    color: red;
}

.teofrecemos{
    font-size: 1.8em;
}

.promos{
    font-size: 2.2em;
}
.papascheddar{
    font-family: 'Dancing Script', cursive;
    font-size: 1.9em;
    color: red;
}

#menuquecomemos, #ubicacion, #contactanos, #galeria{
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    font-size: 2.5em;
    font-weight: bold;
}
#galeria{
    font-size: 3em;
}
#cardpromos{
    margin-bottom: 0;
}
#contactanos, #ubicacion{
    font-size: 3em;
    font-weight: bold;
}

#contactanos{
    padding: 20px 0 15px 0;
    margin: 0;
}
#telwhats{
    padding-top: 20px;
}
#telefono{
    font-weight: bold;
}
#dias{
    font-size: 2.5em;
    margin: 0;
}
#horarios{
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 20px;
}
#atencion{
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    margin-top: 40px;
}


#footer{
    padding: 2em;
}